<!DOCTYPE html>
<!--<html>-->
  
<!--  <head>-->
<!--    <title><%= title %></title>-->
<!--    <link rel='stylesheet' href='/stylesheets/style.css' />-->
<!--  </head>-->
<!--  <body>-->
<!--    <h1><%= title %></h1>-->
<!--    <p>Welcome to <%= title %></p>-->
<!--    <p>This is the message:<%= message %></p>-->
    
<!--     <a href="/about">About us</a>-->
<!--  </body>-->
<!--</html>-->

<html>
    
  <center>
  <style>
body {background-color: gray;}
</style>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <a href="/about">About</a>
    <a></a>
    <a></a>
    <a href="/users">Manage Users</a>
    </center>
    
    <head>
    
  <body>
    <h1><%= title %> - CRUD </h1>
    <h2>Welcome to <%= title %></h2>
    <p>Dayo's  test CRUD App</p>
    <br/>
   <!-- <img src="s3://codingisfun/code_for_fun.png" alt="coding is fun ..they said"></img>-->
   <!--<p>-->
   <!--   <img src="images/code_for_fun" alt="coding is fun...they said" width="500"></img>-->
   <!--</p>-->
  </body>
</html>